- var lang = "javascript python lua latex scala scss less css html r rust go yaml json text markdown".split(" ")
doctype
head
    title TextWrangler
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css")
    style.
        #editor{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
        }
        #bottombar{
            z-index: 99;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
body
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript")
    script(src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js" type="text/javascript")
    script(src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/theme-clouds.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ext-language_tools.js")
    #editor
    script(src="/static/ace.js" type="text/javascript")
    #bottombar
        .columns
            .column
                input(class="input saveto" type="text")
            .column
                div(class="columns is-1")
                    .column
                        input(class="button" type="submit" onclick="sendname()" value="save")
                    .column
                        .select
                            select(onchange="changemode(this.value)")
                                each i in lang
                                    option(value=i)=i
                    .column
                        input(type="submit" class="button" value="+" onclick="increasefont()")
                    .column
                        input(type="submit" class="button" value="-" onclick="decreasefont()")
                    .column
                        .select
                            select(onchange = "changesavemode(this.value)")
                                option(value="Server")="Server"
                                option(value="Client")="Client"
                    .column
                        input(type="checkbox" class="checkbox" onchange="toggleauto(this.value)")

